.product_card__wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}

.product__title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 42px;
}

@media (max-width: 576px) {
    .product__title {
        text-align: center;
        font-size: 28px;
    }
}