/* .product_card__wrapper {
    margin-top: 40px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    grid-gap: 24px;

    margin-left: auto;
    margin-right: auto;

    place-content: center;
    justify-items: center;
} */


.product_card__wrapper {
    margin-top: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    flex-wrap: wrap;
}



.product__title {
    margin-top: 40px;
    font-weight: 700;
    font-size: 42px;
}

.product_card__wrapper:has(.product-card-global:hover) .product-card-global:not(:hover) {
    transform: scale(0.98);
    filter: blur(1px);
}


@media (max-width: 576px) {
    .product__title {
        text-align: center;
        font-size: 28px;
    }
}